<div class="bg-white m-3 p-3">
  <div class="col-6">
    <h2 class="h4">Add a new recipe</h2>
    <%= simple_form_for @recipe do |f| %>
      <%= f.input :name, placeholder: "Name of Recipe", label: false %>
      <%= f.input :description, placeholder: "Note (if any)", label: false %>
      <%= f.input :portion, placeholder: "Number of Serving", label: false %>
      <%= f.association :category, collection: Category.all, label: false %>
      <%= f.input :photo, label: false %>

      <h3>Ingredients</h3>

        <%= f.simple_fields_for :recipe_ingredients do |recipe_ingredient| %>
          <%= render 'ingredient_fields', f: recipe_ingredient %>
        <% end %>

      <%= f.submit "Add to your cookbook", class: "btn btn-info" %>
    <% end %>
  </div>
</div>
