<div class="bg-white m-3 p-3">
  <div class="col-6">
    <h2 class="h4">Add a new recipe</h2>
    <%= simple_form_for @recipe do |f| %>
      <%= f.input :name, placeholder: "Name of Recipe", label: false %>
      <%= f.input :description, placeholder: "Note (if any)", label: false %>
      <%= f.input :portion, placeholder: "# of serving", label: false %>
      <%= f.association :category, collection: Category.all, label: false %>
      <%= f.input :photo, label: false %>

      <%= f.simple_fields_for :ingredients do |inner_form| %>
        <%= inner_form.input :name, label: "ingredient" %>
        <%= f.fields_for :ingredients_recipe do |inner_form| %>
          <%= inner_form.input :unit, label: "unit" %>
          <%= inner_form.input :quantity, label: "quantity" %>
        <% end %>
      <% end %>

      <%= f.submit "Add to your cookbook", class: "btn btn-info" %>
    <% end %>
  </div>
</div>
