<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-primary my-0 py-0">
  <div class="container-fluid mt-3">
    <%= link_to "Custom Cookbook", "#", class: "text-decoration-none h2 text-secondary" %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "How to Use", "#", class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <p class="nav-link">Signed in as <%= current_user.username %></p>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "user.jpeg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
