<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-primary">
  <div class="container-fluid">
    <%= link_to "Custom Cookbook", root_path, class: "text-decoration-none h2 text-secondary" %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <div class="d-flex align-items-center">
          <li class="nav-item">
            <%= link_to "Browse All Recipes", categories_path, class:"btn btn-primary" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Your Cookbook", categories_path, class:"btn btn-primary" %>
            </li>

            <li class="nav-item dropdown">
              <%= image_tag "user.jpeg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>
